<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Controle Times:</h1>
    
    {% for item in items %}
        <p>Miles: {{ item.miles }} , Open time: {{ item.open }} , Close time: {{ item.close }} </p>
    {% endfor %}
</body>
</html>